/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params{
    
    inputdir = "$projectDir/data"
    outputdir = "$projectDir/results"

    qc_only = false
    gvcf_only = false
    filter_only = false

    trim_adapter = "$projectDir/refs/adapters/TruSeq3-PE.fa"   
    genomes_dir = "$projectDir/refs/genomes" 
    sif_path = "$projectDir/conf/nf-wgs-dsl2.sif"

    ploidy = 1  // organism ploidy for HaplotypeCaller

    // Hard filter thresholds
    filter_QD              = 2.0
    filter_FS              = 60.0
    filter_MQ              = 30.0   // relaxed from 40.0
    filter_MQRankSum       = -12.5
    filter_ReadPosRankSum  = -8.0
    filter_SOR             = 3.0

    // Genotype filter thresholds
    filter_GQ              = 10    // relaxed from 20
    filter_DP              = 5     // relaxed from 10
    filter_AD              = 2     // relaxed from 3

    output_zarr = false  // Convert final VCF to zarr format (disabled - conda env issues)

}

// contains resource configurations
includeConfig 'conf/base.config'

// Uncomment if adding a site profile
// try {
//     includeConfig "${params.custom_config_base}/custom.config"
// } catch (Exception e) {
//     System.err.println("WARNING: Could not load custom config profile: ${params.custom_config_base}/custom.config")
// }

profiles {
    conda {
        conda.enabled = true
        docker.enabled = false
        apptainer.enabled = false
        process.conda = "../conf/envs/env.yml"
    }
    mamba {
        conda.enabled       = true
        conda.useMamba      = true
        docker.enabled      = false
        apptainer.enabled   = false
    }
    docker {
        conda.enabled           = false
        docker.enabled          = true
        docker.userEmulation    = true
        apptainer.enabled       = false
        process.container       = "eppicenter/nf-wgs-dsl2:latest"
    }
    apptainer {
        conda.enabled           = false
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        docker.enabled          = false
        process.container       = "file://${params.sif_path}"
    }
    singularity {
        conda.enabled           = true  // Enable conda for per-process environments
        singularity.enabled     = true
        singularity.autoMounts  = true
        docker.enabled          = false
        process.container       = "file://${params.sif_path}"
    }
    sge {
        process {
            executor        = "sge"
            scratch         = true
            stageInMode     = "copy"
            stageOutMode    = "move"
            errorStrategy   = "retry"
            clusterOptions  = '-S /bin/bash -o job.log -e job.err'
        }
        executor {
            queueSize = 50
        }
    }
    slurm {
        process {
            executor        = "slurm"
            scratch         = true
            stageInMode     = "symlink"
            stageOutMode    = "move"
            errorStrategy   = "retry"
            queue           = "ncpu"
        }
        executor {
            queueSize = 50
        }
    }
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

timeline {
    enabled = true
    file = "${params.outputdir}/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file = "${params.outputdir}/execution_report.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outputdir}/execution_trace.txt"
    overwrite = true
}

// dag {
//     enabled = true
//     file = "${params.outputdir}/pipeline_dag.svg"
//     overwrite = true
// }

manifest {
    name            = 'eppicenter/nf-wgs-dsl2'
    homePage        = 'https://github.com/eppicenter/nf-wgs-dsl2'
    description     = 'wgs pipeline'
    version         = '0.0.1'
}

// Function to ensure that resource requirements don't go beyond a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
